*{
	font-family:Helvetica;
}
.event-list{
	margin:0;
	padding:0;
}
.cc-event{
	left:0;
	width:auto;
	background: -webkit-linear-gradient(#fff, #f6f6f6);
	border-top:1px dotted;
	border-bottom:1px dotted;
}
.cc-event:hover{
	text-decoration: none;

	background: -webkit-linear-gradient(#e6e6e6, #adadad);
	cursor:hand;
	color:#fff;
}

.cc-event a{
	color:#000;
	text-decoration: none;
	border-radius: 2px;
}
.cc-event a:hover{
	text-decoration: none;
	border-radius: 2px;
}
.cc-event-date {
	color:#595856;
	text-align: center;
	background: #f5f5f5;
}
.cc-event-day {
	margin-top:7px;
}
.cc-event-title {
	margin-left:5px;
	margin-top:18px;
}
.cc-event-location{
	margin-left:5px;
	margin-top:1px;
	font-size:12px;
}
.cc-event-month{
	margin-top:2px;
}