@import url('normalize.css');
@import url('calendar.css');
@import url('list.css');
@import url('tabs.css');

.ember-application {
    margin: 20px;
    width:250px;
}

#add input {
	width: 90%;
	margin-bottom: 1px;
}

.btn {
	margin-top:2px;
	display: block;
}