{{outlet tab}}\
<ul class="tabrow">\
	<li><a href="#" data-tab="list" {{action selectTab "list"}}>list</a></li>\
	<li><a href="#" data-tab="cal" {{action selectTab "cal"}}>cal</a></li>\
	<li><a href="#" data-tab="add" {{action selectTab "add"}}>add</a></li>\
</ul>